@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
 
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 2rem;
    margin-top: 8em; */
    padding:7em;
  }

.profile-card {
    display: flex;
    background: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    width: 900px;
    max-width: 95%;
}

.left-section {
    background: linear-gradient(45deg, #0056b3, #498fd8);
    color: white;
    padding: 40px;
    text-align: center;
    flex: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */

}

.left-section .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid white;
}

.left-section .name {
    font-size: 2rem;
    margin: 10px 0;
}

.left-section .title {
    font-size: 1.2rem;
    opacity: 0.9;
}

.left-section .edit-link {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.left-section .delete-link {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;


}



.right-section {
    padding: 40px;
    flex: 2;
}

.right-section h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.5rem;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.right-section p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #555;
}

.social-links {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.social-links .icon {
    width: 35px;
    height: 35px;
}

/* Optional: Limit width of the update form */
.update-inner {
    width: 50%;
    max-width: 1600px;
  }